section {
  position: absolute;
  background-size: cover;
  padding-bottom: 15rem;
}

.sdgs {
  display: flex;
  width: 100%;
}

.sdgs p {
  display: block;
  margin-left: auto;
  padding-top: min(6vw, 80px);
}

div[class*="layer"] {
  left: 0;
  flex-direction: column;
  transition: all .1s linear;
  padding-top: 180px;
}

.layer1 {
  top: 2150px;
}

.layer2 {
  top: 1400px;
}

.layer3 {
  top: 900px;
}

.layer4 {
  top: 600px;
}

/* footer {
  position: relative;
  top: 1900px;
  left: 0px;
  margin: 0;
  z-index: 30; 
} */

/* @media (min-width: 576px) {
  footer {
    width: calc(100% - 80px);
  }
} */

div[class*="layer"] .layer-text {
  position: relative;
}

h1 {
  font-size: min(4.25rem, 68px);
}

.content {
  position: relative;
}