* {
  margin: 0;
  padding: 0;
  font-family: 'ChulaCharasNew';
  color: #FFFFFF;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  /* Enable Safari touch scrolling physics which is needed for scroll snap */
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y proximity;
  /* suppress scroll anchoring to see the effect */
  overflow-anchor: none;
  scroll-behavior: smooth;
}

body {
  background: #242f57;
  height: auto;
  overflow-x: hidden;
  margin: 0;
  font-size: 18px;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
}


/* ตั้งค่า ตำแหน่งข้อความ ทำเป็นตัวอย่าง */

.row {
  /* padding-top: 200px; */
  margin-top: 100px;
  margin-left: 150px;
  position: absolute;
}

.layer1,
.layer2,
.layer3,
.layer4,
.layer5 {
  position: fixed;
  transition: all .2s linear;
}

#fig1 {
  width: 100vw;
  height: 800px;
  position: absolute;
  /* background: url(/img/SDGs/01.png); */
  top: 2100px;
  z-index: 1;
}

#fig2 {
  width: 100vw;
  position: absolute;
  /* background: url(/img/SDGs/02.png); */
  top: 1500px;
  z-index: 2;
}

#fig3 {
  width: 100vw;
  position: absolute;
  /* background: url(/img/SDGs/03.png); */
  top: 950px;
  /* margin-bottom: 50px; */
  z-index: 3;
}

#fig4 {
  width: 100vw;
  position: absolute;
  /* background: url(/img/SDGs/04.png); */
  top: 660px;
  z-index: 4;
}

#fig5 {
  width: 100vw;
  position: absolute;
  top: 500px;
  z-index: 5;
}

.text-header-1 span {
  display: block;
}

.text-svgs-sub {
  font-family: 'Mondwest';


}

.sdgs p {
  display: block;
  margin-left: 25%;
  bottom: 0px;

}

.bg-img {
  width: 100vw;
  height: auto;
}