html {
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
    /* suppress scroll anchoring to see the effect  */
    overflow-anchor: none;
    scroll-behavior: smooth;
}


/* body {
    margin: 0;
    background--4or: antiquewhite;
}

the-wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
}

the-content {
    margin: auto;
    width: 100%;
    height: 45vw;
    background-color: cadetblue;
    display: inline-block;
} */

@font-face {
    font-family: 'ChulaCharasNew';
    src: url('font/ChulaCharasNewReg.ttf') format('truetype');
}

@font-face {
    font-family: 'ChulaCharasNew';
    src: url('font/ChulaCharasNewBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'ChulaCharasNew';
    src: url('font/ChulaCharasNewIta.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'ChulaCharasNew';
    src: url('font/ChulaCharasNewBoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mondwest';
    src: url('font/Mondwest-Regular.otf') format('opentype');
}

:root {
    --scrollbar-size: 0px;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    font-family: "ChulaCharasNew";
}


/* โค้ดเปลี่ยนสีข้อความเมื่อพื้นหลังตามคลาสที่วางไว้ */

body *:not(.change_color_page) {
    /*color: #fbe8ee;*/
    transition: color 0.5s ease-in-out;
    /*border-color: #fbe8ee;*/
}


/* โค้ดเปลี่ยน สีข้อความ เมื่อพื้นหลังตามคลาสที่วางไว้ */

body.darkbule *:not(.change_color_page) {
    /*color: #f8f4f4;*/
    transition: color 0.5s ease-in-out;
    /*border-color: #cfc7c7;*/
}


/*Pre loader*/

.pace {
    pointer-events: none;
    user-select: none;
    z-index: 2;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 3px;
    border: 1px;
    overflow: hidden;
    background: #4BB093;
}

.pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    max-width: 400px;
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: gray;
}

.pace.pace-inactive {
    display: none;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: #101010;
    overflow: hidden;
    position: fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.p-load {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}


/* โค้ดเปลี่ยน สีพื้นหลัง เมื่อพื้นหลังตามคลาสที่วางไว้ */

.change_color_page {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0a0a0a;
    transition: background-color 0.5s ease;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.change_color_page.darkbule {
    background-color: #242f57;
}

.change_color_page.orage {
    background-color: #F56643;
}

.change_color_page.cream {
    background-color: #F1D9C4;
}

.change_color_page.mint {
    background-color: #4BB083;
}

.change_color_page.purple {
    background-color: #6459B6;
}


/* Color BG */

.bg-darkbule {
    background-color: #242f57;
}

.bg-orage {
    background-color: #F56643;
}

.bg-cream {
    background-color: #F1D9C4;
}

.bg-mint {
    background-color: #4BB083;
}

.bg-purple {
    background-color: #6459B6;
}


/* Color Text */

.text-darkbule {
    color: #242f57;
}

.text-orage {
    color: #F56643;
}

.text-mint {
    color: #4BB083;
}

.text-cream {
    color: #F1D9C4;
}

.text-purple {
    color: #6459B6;
}

.text-white {
    color: #ffffff;
}

.ee-text {
    color: #000000;
}

.text-weigth {
    font-weight: bold;
}

.b-darkbule {
    background: linear-gradient(to top, #242f57, transparent);
}

.b-mint {
    background: linear-gradient(to top, #4BB083, transparent);
}

.b-purple {
    background: linear-gradient(to top, #6459B6, transparent);
}

.b-darkbule {
    background-color: #242f57;
}


/* อันนี้น่าจะเกี่ยวกับโค้ด js ไม่มีแสดงใน index.html */

.scrollbar-test {
    position: absolute;
    visibility: hidden;
    overflow: scroll;
    width: 100px;
    height: 100px;
    top: -99999px;
    left: -99999px;
    pointer-events: none;
    user-select: none;
}

.fixed-content {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: var(--scrollbar-size, 0px);
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}

.scroll-container {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 100%;
}

.content {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.spacer {
    background: transparent;
}

.row {
    width: 100vw;
    height: 35vw;
}


/* ใช้แทน Section */

.single-item {
    flex: 0 0 100vw;
    height: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* scroll-snap */
    /* scroll-snap-align: start;
    scroll-snap-stop: normal; */
    /* snap align start */
    /* scroll-snap-align: center; */
    position: relative;
}

.single-item.left {
    justify-content: flex-start;
}


/* p คือแสดงเส้นขอบเนื้อหา เปลี่ยนเป็นอย่างอื่นได้แล้วแต่ **จะย่อขยายสัดส่วนจะไม่เปลี่ยนจะเท่าเดิม */

.single-item section {
    width: 80vw;
    /* ความสูงต้องใช้ vw เท่านั้น */
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
}

.horizontal-scroll-wrapper {
    position: relative;
}

.horizontal-scroll {
    display: flex;
}

.horizontal-scroll .single-item {
    flex: 0 0 100vw;
}


/* p คือแสดงเส้นขอบเนื้อหา เปลี่ยนเป็นอย่างอื่นได้แล้วแต่ **จะย่อขยายสัดส่วนจะไม่เปลี่ยนจะเท่าเดิม */

.horizontal-scroll .single-item section {
    width: 100vw;
    /* แก้ความสูงเอา แต่อย่าแก้หน่วย vw */
    height: 75vw;
    /* max-width: 100vw;
    max-height: 75vw; */
}

.container {
    padding: 64px;
    scroll-snap-align: center;
}

.img-header {
    padding-top: 2.5em;
}

.img-grid-4 img {
    width: 25%;
    height: auto;
}


/* Text Box */

.box {
    width: 495px;
    height: auto;
    margin-left: 172px;
}


/* Page Question*/

.question h1 {
    font-size: 90px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/* sec_01 */

#header-1 {
    top: 0;
    position: absolute;
    margin-top: 3vw;
}

.text-header-1 * {
    z-index: 1;
    font-family: 'Mondwest';
    font-size: 190px;
    line-height: 160px;
}

.text-header-1 span {
    display: block;
}


/* sec_02 */

#header-2 h1 {
    font-weight: bold;
    font-size: 32px;
}

.img-sec02 {
    bottom: 0;
    height: 500px;
    justify-content: end;
    display: flex;
    align-items: flex-end;
}

.text-sec02 {
    height: 500px;
    display: flex;
    align-items: center;
}

.text-page-slide {
    color: #F1D9C4;
    margin-top: 10%;
}


/* sec_04 */

.sec_04 .column-66 {
    height: 80vh;
}

.sec_04 h1 {
    font-size: 5.5em;
}

.sec_04 p {
    color: #000000;
}


/* sec_05 */

.sec_05 {
    padding-top: 243px;
}

.sec_05 .row {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


/* sec_07 */

.sec_07 h1 {
    font-size: 190px;
}

.sec_07 span {
    padding-top: 114px;
    position: absolute;
}


/* sec_13 */

.sec_13 h1 {
    font-size: 190px;
}


/*sec_22*/

.img-dltv {
    display: flex;
    justify-content: center;
}

.img-dltv img {
    width: 50%;
    height: auto;
}


/* 5 */

.webmadewell {
    background-color: #f5f5f8;
    background: linear-gradient(0deg, #f5f5f0 50%, #ffffff 50%);
    background-size: 100%;
    background-position: center;
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.intro h3 {
    color: #ffffff;
    background-color: #ccccc6;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
}

.section {
    position: relative;
    display: flex;
    height: 200vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    width: 120px;
    height: 120px;
    background-color: #828282;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.parallax_scroll {
    background-color: #f58232;
}


/* Text Box */

.box {
    width: 495px;
    height: auto;
    margin-left: 172px;
}


/*background image*/

#sec_03 {
    background-size: cover;
    background-image: url("/img/03_question-bg.png");
    width: 100vw;
    height: 100vh;
}

#sec_15 {
    background-size: cover;
    background-image: url("/img/15-18_technology/1_technology.png");
}

#sec_18 {
    background-size: cover;
    background-image: url("/img/19-21_family/2_family.png");
}

#sec_21 {
    background-size: cover;
    background-image: url("/img/22-25_course/3_course.png");
}

.img-icon-course {
    display: flex;
    justify-items: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.img-icon-course img {
    width: 25%;
}

#sec_25 {
    background-size: cover;
    background-image: url("/img/26-29_time/4_time.png");
}


/* Setting Nav */

.navbar {
    width: 100vh;
    height: 80px;
    position: fixed;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    flex-direction: row-reverse;
    z-index: 1000;
}

.nav-link {
    color: #FFFFFF;
    font-size: 22px;
    width: 100px;
}

.nav-link:hover {
    transform: translate(10%, 0);
    transition: all .3s ease-in-out;
}

.navbar-nav {
    margin-left: 30px;
}

a .text-new {
    display: none;
}

a:hover .text-defult {
    display: none;
}

a:hover .text-new {
    display: inline;
    color: #4BB083;
}


/* Change navbar styling on small viewports */

@media (max-width: 600px) {
    .navbar {
        background: transparent;
        -webkit-transform: none;
        transform: none;
    }
    /* setting icon navbar toggler to right */
    .navbar-light {
        left: 75vw;
    }
    /* setting hidden &#8594; Home */
    a .text-new {
        display: none;
    }
    a:hover .text-defult {
        display: inline;
        color: #4BB083;
    }
    a:hover .text-new {
        display: none;
    }
    .navbar-brand {
        background-color: khaki;
    }
    .navbar-nav {
        margin-left: 0px;
    }
    div#box1,
    div#box2,
    div#box3,
    div#box4,
    div#box5 {
        transform: none !important;
        -ms-transform: none !important;
        margin: 10px;
    }
}

div#box1 {
    transform-origin: center;
    -ms-transform: rotate(-20deg);
    /* IE 9 */
    transform: rotate(-20deg);
    /* Standard syntax */
}

div#box2 {
    transform-origin: center;
    -ms-transform-origin: 100% 700%;
    /* IE 9 */
    transform-origin: 100% 700%;
    -ms-transform: rotate(5deg);
    /* IE 9 */
    transform: rotate(5deg);
    /* Standard syntax */
}

div#box3 {
    transform-origin: center;
    -ms-transform-origin: 350% 2200%;
    /* IE 9 */
    transform-origin: 350% 2200%;
    -ms-transform: rotate(10deg);
    /* IE 9 */
    transform: rotate(10deg);
    /* Standard syntax */
}

div#box4 {
    transform-origin: center;
    transform: translate(50%);
    -ms-transform: translate(50%);
}

div#box5 {
    transform-origin: center;
    -ms-transform: rotate(-21deg);
    /* IE 9 */
    transform: rotate(-21deg);
    /* Standard syntax */
    -ms-transform-origin: 80% 550%;
    /* IE 9 */
    transform-origin: 80% 550%;
}

.frame {
    margin: auto;
}

.textbox {
    padding-top: 1.1vw;
    width: max-content;
    height: 6.5vw;
    padding-left: 0.95vw;
    font-size: 1.5vw;
    justify-content: center;
    text-align: center;
}

.textbox div {
    margin-top: 1.25vw;
    /* float: left; */
    margin-right: 0.85vw;
}

.iconBox {
    width: auto;
    height: 4vw;
    float: right;
    margin-top: 0.25vw;
    margin-bottom: 0.95vw;
    margin-right: 2.5vw;
}


/* section 5 */

.sideContent {
    height: 75vw;
}

.side1,
.side2 {
    position: relative;
    width: 50vw;
    height: 75vw;
}

.sideLeft {
    position: fixed;
    padding-top: 15vw;
    padding-left: 10vw;
    float: left;
}

.sideLeft img {
    width: 40vw;
}

#s2 {
    display: none;
}

.subSide {
    width: 50vw;
    height: 75vw;
    position: fixed;
}


/* graph bar */

#myProgress1 {
    width: 3%;
    background-color: #ddd;
}

#myProgress2 {
    width: 3%;
    background-color: #ddd;
}

#myProgress3 {
    width: 42%;
    background-color: #ddd;
}

#myProgress4 {
    width: 51%;
    background-color: #ddd;
}

#myProgress {
    width: 1%;
    background-color: #ddd;
}

#myBar {
    width: 100%;
    height: 30px;
    background-color: #F56643;
}

#myBar1 {
    width: 0%;
    height: 30px;
    background-color: #6459B6;
}

#myBar2 {
    width: 0%;
    height: 30px;
    background-color: #6459B6;
}

#myBar3 {
    width: 0%;
    height: 30px;
    background-color: #6459B6;
}

#myBar4 {
    width: 0%;
    height: 30px;
    background-color: #6459B6;
}

.dgdes {
    height: 50vw;
}