.flex { display:flex;}

.field {
  min-width: 200px;
  min-height: 30px;
  margin: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Chakra Petch', sans-serif;
}

.flex-container > div {
    width: 50vw;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-family: 'Chakra Petch', sans-serif;
}
#question {
}

#qa {
    font-size: 50px;
    text-align: center;
    margin: 0px 20px 20px 20px;
    font-family: 'Chakra Petch', sans-serif;
}

button {
    height: 70px;
    width: 400px;
    outline: none;
    background: white;
    border: indigo solid 5px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
    cursor: pointer;
    border-radius: 12px;
}
  
button:active {
    background-color: indigo;
    color: lavender;
    border: rgb(162, 96, 209) solid 5px;
 }

img {
    width: 30vw;
    height: 30vw;
}
